<app-navbar></app-navbar>

<div class="frame">
  <input type="checkbox" id="cb">
  <form (ngSubmit)="submitFormUp(f)" #f="ngForm">
    <div class="form-group">
      <input ngModel #email="ngModel" type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
      <!-- email validations -->
    <div class="text-center" *ngIf="!email.valid && email.touched">
      <div *ngIf="email.errors.required">Email is required!</div>
      <div *ngIf="email.errors.pattern">Email is not valid</div>
    </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <textarea ngModel #msg="ngModel" name="msg" class="form-control" id="exampleFormControlTextarea1" rows="3" required placeholder="Enter Your Message Here..."></textarea>
    </div>
    <label type="submit" for="cb" class="button">Send mail</label>
</form>
	<div class="circle"></div>
	<div class="circle-outer"></div>
	<svg class="icon mail">
		<polyline points="119,1 119,69 1,69 1,1"></polyline>
		<polyline points="119,1 60,45 1,1 119,1"></polyline>
	</svg>
	<svg class="icon plane">
		<polyline points="119,1 1,59 106,80 119,1"></polyline>
		<polyline points="119,1 40,67 43,105 69,73"></polyline>
  </svg>
</div>
<div style="height: 120%;"></div>
<app-footer></app-footer>


