<app-navbar></app-navbar>
<div id="body">
<div class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>Login</h1>
						 </div>
					</div>
					<form (submit)="onlogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading" class="form-signin" >
                           <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label>
                              <input class="form-control" type="email" name="username" ngModel placeholder="Type your Email" #emailInput="ngModel" required autofocus>
                              <div style="margin-top: 3%" class="alert alert-danger text-center" *ngIf="!emailInput.valid && emailInput.touched">
                                  <div *ngIf="emailInput.errors.required">Email is required!</div>
                                </div>
						</div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Password</label>
                              <input class="form-control" type="password" name="pass" ngModel placeholder="Type your password" #passwordInput="ngModel" required>
                              <div style="margin-top: 3%" class="alert alert-danger text-center" *ngIf="!passwordInput.valid && passwordInput.touched">
                                  <div *ngIf="passwordInput.errors.required">Password is required!</div>
                                </div>
						</div>
                           <div class="form-group">
                              <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                           </div>
                           <div class="col-md-12 text-center ">
                              <button style="width: 55%;margin-left: 20%; margin-bottom: 5%" type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" [disabled]="!loginForm.valid">Login</button>
                           </div>

                           <div class="col-md-12 ">
                            <div class="login-or">
                               <hr class="hr-or">
                               <span class="span-or">or</span>
                            </div>
                         </div>
                         <div class="col-md-12 mb-3">
                            <p class="text-center">
                               <a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">
                               </i> Signup using Google
                               </a>
                            </p>
                         </div>

                           
                           <div class="form-group">
                              <p class="text-center">Don't have account? <a href="/register" id="signup">Sign up here</a></p>
                           </div>
                        </form>
                 
				</div>
			</div>
			</div>
		</div>
	  </div>
	  
  </div>
  <div style="margin-bottom: 10%">&nbsp;</div>
  
  <app-footer></app-footer>
