
<app-navbar></app-navbar>

<!-- header slider -->
  <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" id="pic" src="./../../../assets/images/cook.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" id="pic" src="./../../../assets/images/chicken.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" id="pic" src="./../../../assets/images/chickeen.png" alt="Third slide">
        </div>
      </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->
  <!-- end of header slider -->

  <hr class="style-one">

<h2>Recommended For You</h2>
<!-- slider -->
<div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="recommendedHotels"
      [width]="850"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
    <ng-template #prev>
      <img src="assets/images/left.png" id="left" />
    </ng-template>
    <ng-template #next>
      <img src="assets/images/right.png" id="right" />
    </ng-template>
    <ng-template #item let-item let-i="index">
   
    <div class="slide-items">
        <div class="frame">
            <img class="imgSize" src="{{item.imageURL}}">
        </div>
        <div class="frameTitle">
            <p><b> {{item.title}} </b></p>
        </div>
        <div class="components">
        <p><span class="inCard">Address:</span> {{item.address}} </p>
        <p><span class="inCard">Price Range:</span> {{item.priceRange}} </p>
        </div>
        <button class="btn btn-primary cardBtn" [routerLink] = "['/hotels/',item.itemid]">Read More</button>
     </div>
  </ng-template>
</div>
<hr class="style-one">

<!-- All Hotels-->
<h2>All Hotels</h2>
<div class="container">
    <input class="search col-3" name="search" [(ngModel)]="search" placeholder="Search"> 
</div>

<div *ngIf="hotels" class="row">
    <div class="col-lg-3 col-md-4 col-6" *ngFor="let hotel of hotels | Rfilter: 'title' | filter : search : ['title'] | paginate: { itemsPerPage: 12, currentPage: p }">
        <div class="col d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    <div class="frame">
                    <!-- <img class="img-fluid imgSize" src="{{hotel['imageURL']}}" alt="NO IMAGE AVAILABLE"> -->
                   <!-- <img class="img-fluid imgSize" src="{{hotel['imageURL']?hotel['imageURL'].indexOf('media-cdn.tripadvisor.com')?default:hotel['imageURL']:default}}" alt="NO IMAGE AVAILABLE"> -->
                   <!-- <img  class="thumbnail-image" src="{{hotel['imageURL']}}" onError="this.src= 'default';"  alt="..." /> -->
                   <img class="img-fluid imgSize" style="height: 170px;" src="{{hotel['imageURL']?hotel['imageURL']:default}}" alt="NO IMAGE AVAILABLE">              
                    
                  </div>
                    <div class="frameTitle">
                    <h5 class="card-title">{{hotel['title']}}</h5>
                    </div>
                    <div class="card-text components">
                      <p><span class="inCard">Address:</span> {{hotel['address']}} </p>
                      <p><span class="inCard">Price Range:</span> {{hotel['priceRange']}} </p>
                    </div>
                    <!-- <button class="btn btn-primary cardBtn" (click)="ViewHotelDetail(hotel.hotel_id)">Read More</button> -->
                    <button class="btn btn-primary cardBtn" [routerLink] = "['/hotels/',hotel.itemid]" [queryParams]="{q:hotel['title']}">Read More</button>
                    
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="paging">
    <div class="row">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
 
<app-footer></app-footer>