<div class="margin">
  <button [routerLink]="['/admin/database/trips']" mat-icon-button color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="page-title">Add New Trip</span>
</div>
  <mat-card fxLayout="column" fxLayoutAlign="center center">
      <div class="form-container">
        <mat-form-field>
        <input type="text" required matInput placeholder="Name" name="title"
        class="trip-input" #title>
      </mat-form-field>
      <br/>
      <mat-form-field>
          <input type="number" required matInput placeholder="Rating" name="rating"
            class="trip-input" #name>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input type="text" required matInput placeholder="Region" name="region"
              class="trip-input" #region>
          </mat-form-field>
          <br/>
          <mat-form-field>
              <input type="text" required matInput placeholder="image URL" name="imageURL"
                class="trip-input" #imageURL>
         </mat-form-field>
         <br/>
         <mat-form-field>
            <input type="text" required matInput placeholder="Description" name="description"
              class="trip-input" #description>
       </mat-form-field>
       <br/>
       <mat-form-field>
          <input type="text" required matInput placeholder="Features" name="features"
            class="trip-input" #features>
     </mat-form-field>
     <br/>
     <mat-form-field>
        <input type="text" required matInput placeholder="Address" name="address"
          class="trip-input">
   </mat-form-field>
  </div>  
      <br/>
      <button type="submit" mat-raised-button color="primary">Add</button>
  </mat-card>
