<div *ngIf="!isLoading">
  <button class="add-button" (click)="add()" mat-icon-button color="primary">
    <mat-icon class="material-icons" color="primary">add</mat-icon>
  </button>
</div>
<div class="spinner" *ngIf="isLoading">
<mat-spinner >
</mat-spinner>
</div>
<div class="mat-elevation-z8">
<mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z8" *ngIf="!isLoading">
  <mat-table #table [dataSource]="dataSource">

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image</th>
      <td mat-cell *matCellDef="let element">
        <img id="hotelImage" src={{element.photo}} alt="image" /> </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Region Column -->
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef> Region </th>
      <td mat-cell *matCellDef="let element"> {{element.region}} </td>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="delete(element)" mat-icon-button color="primary">
          <mat-icon class="material-icons" color="primary">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </mat-table>
</mat-card>
</div>