<app-navbar></app-navbar>

<div class="aboutus">
  <h1 style="color: #686464">About Us</h1>
  <hr>
  <p>This website will be for both Egyptians who want to enjoy their country and
      tourists coming to visit Egypt expecting a lot , It will be a great help for them
      providing them with self tour guide assistant and a whole big recommendation
      system of places tours and activities that will be perfectly what they most
      enjoy and looking forward to . That will help tourism to grow more in Egypt
      these hard times and will make it so much fun to explore as Egypt contains
      many amazing places that are never recommended or watched by people and
      this is such a huge waste of them , so let’s have a look !</p>
</div>

<app-footer></app-footer>
