<mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'navigation'" [mode]="'side'"
                [opened]="true">
                <mat-toolbar color="primary">
                        Xplore Egypt
                </mat-toolbar>
                <mat-nav-list>
                        <mat-button-toggle-group class="d-flex-col">
                                <mat-button-toggle *ngFor="let link of links" [routerLink]="link.link">
                                        <mat-icon class="material-icons margin-icon" color="primary">{{link.icon}}
                                        </mat-icon>
                                        <span class="">{{link.name}}</span>
                                        </mat-button-toggle>
                                        <mat-button-toggle>
                                                <mat-icon class="material-icons margin-icon" color="primary">storage</mat-icon>
                                                <mat-select placeholder="DataBase"(selectionChange)="navigateTo($event.value)">
                                                        <!-- content -->
                                                        <mat-option value="admin/database/users">Users</mat-option>
                                                        <mat-option value="admin/database/hotels">Hotels</mat-option>
                                                        <mat-option value="admin/database/trips">Trips</mat-option>
                                                        <mat-option value="admin/database/restaurants">Restaurants</mat-option>
                                                </mat-select>
                                        </mat-button-toggle>
                        </mat-button-toggle-group>
                        
                </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
                <mat-toolbar color="primary">
                        <mat-button-toggle class="logout-btn">
                                <div class="content">
                                        <mat-icon class="material-icons margin-icon" color="primary">arrow_back</mat-icon>
                                        <span class="">Logout</span>
                                </div>
                        </mat-button-toggle>
                </mat-toolbar>
                <main class="main">
                        <div class="container-fluid">
                            <router-outlet></router-outlet>
                        </div>
                </main>
        </mat-sidenav-content>
</mat-sidenav-container>
  